.App {
  background-color: #F6F2FF;
}
.App img {
position: relative;
width: 440px;
height: auto;
}

.App h1 {
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 64px;
/* or 100% */

text-align: right;
color: #240D57;

}

.snapchat {
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.App h2 {
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 24px;
text-align: right;
color: #4F4F4F;

}

.main-text {
  position: relative;
  top: 200px;
}

.button {
background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%) !important;
border-radius: 10px;
position: relative;
left: 350px;
}